---
import Main from '@layouts/Main.astro';
const pathHome =  './';
const path1 = '/classes/financialAccounting/home';
const path2 = '/classes/managerialAccounting/home';
const path3 = '/classes/calc1/home';
const path4 = '/classes/calc2/home';
const path5 = '/classes/micro/home';
const path6 = '/classes/macro/home';
const path7 = '/classes/stats/home';
const path8 = '/classes/compsci/home';
const folderPath1 = "../../toolbox";
const folderPath2 = "../../rankings";
const folderPath3 = "../../ratings";

---

<Main  folderPath1= {folderPath1} folderPath2 = {folderPath2} folderPath3 = {folderPath3} pathHome = {pathHome} path1 = {path1} path2 = {path2} path3 = {path3} path4 = {path4} path5 = {path5} path6 = {path6} path7 = {path7} path8 = {path8}>

<h1 class = "title"> Class Rankings </h1>

<p> As a double major, I was always taking max credits every semester, and I often found myself wanting to know out of three billion business core classes I was required to take- which one would be 'easy'. I define easy as 'I don't have to try at all because everything is just busy work'. Ranked from easiest (less work to put in) to more work to put in.</p>

<br>

<ul>

    <li> <a href = ""> Intro To Management </a></li>
    <li> <a href = ""> Management Skills </a></li>
    <li> <a href = ""> Intro to Managerial Accounting </a></li>

</ul>


</Main>

<style>
    .title{
        font-style: var(--primaryFont);
        font-weight: 400;
	    font-size:var(--text-heading);			
    }

    ul{
        margin:0px 20px;
    }

    li{
        margin-bottom:5px;
    }
    a{
        color:black;
    }
</style>