---
import {Image} from "astro:assets";

//const pathHome = './';

import Home from '@assets/icons/Home.svg';
import facc from '@assets/icons/facc.svg';
import macc from '@assets/icons/macc.svg';
import calc1 from '@assets/icons/calc1.svg';
import calc2 from '@assets/icons/calc2.svg';
import micro from '@assets/icons/micro.svg';
import macro from '@assets/icons/macro.svg';
import stats from '@assets/icons/stats.svg';
const {pathHome, path1, path2, path3, path4, path5, path6, path7} = Astro.props;
---

<div class = "bottomNav">
        <div class = "tab">
            <a href={pathHome}> <Image src={Home} alt="" /> </a>
        </div>
        <div class = "tab">
            <a href={path1}> <Image src={facc} alt="" /> </a>
        </div>
        <div class = "tab">
            <a href={path2}> <Image src={macc} alt="" /> </a>
        </div>
        <div class = "tab">
            <a href={path3}> <Image src={calc1} alt="" /> </a>
        </div>
        <div class = "tab">
            <a href={path4}> <Image src={calc2} alt="" /> </a>
        </div>
        <div class = "tab">
            <a href={path5}> <Image src={micro} alt="" /> </a>
        </div>
        <div class = "tab">
            <a href={path6}> <Image src={macro} alt="" /> </a>
        </div>
        <div class = "tab">
            <a href={path7}> <Image src={stats} alt="" /> </a>
        </div>
</div>

<style>
.bottomNav{
    display: flex;
    width:100%;
    background-color: white;
    
}

.tab{
    user-select: none;
    border:var(--border);
    display: flex;
    justify-content: center;
    align-items: center;
    padding:5px;
    width:60px;
    height:50px;

}
