---
import BottomNav from "@components/BottomNav.astro";
import TopNav from '@components/TopNav.astro';
import '@styles/Global.css';
const {path1, path2, path3, path4, path5, path6, path7} = Astro.props;

---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<div class = "container">
            <div class = "screen"> 
               <TopNav/>
                <div class = "content">
                    <slot>
                </div>
                <BottomNav path1 = {path1} path2 = {path2} path3 = {path3} path4 = {path4} path5 = {path5} path6 = {path6} path7 = {path7}></BottomNav>
            </div>
		</div>
	</body>
</html>


<style>
    body{
        /* This svh makes it so that the bottomNav is on top of the apple search component*/
        height:100svh; /*SKKSKSK it works!*/
        width:100%;
    }

	.container{
        height:100%;
        width:100%;
	}
	.screen{
        display:grid;
        grid-template-columns: 100%;
        grid-template-rows: 80px 1fr 60px;
        border: var(--border);
        width:100%;
        height:100%;
	}
    .content{
        border:5px solid yellow;
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0 20px;
        /* This is the part that makes it scrollable */
        overflow-y: scroll;
        scrollbar-width: thin; /* For Firefox */
        scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track); /* For Firefox */
        /* Webkit (Chrome, Safari) scrollbar styling */
        &::-webkit-scrollbar {
            width: 10px; /* Set the width of the scrollbar */
        }
        &::-webkit-scrollbar-thumb {
            background-color: var(--scrollbar-thumb); /* Set the color of the thumb */
            border-radius: 5px; /* Optional: Round the thumb's corners */
        }
        &::-webkit-scrollbar-track {
            background-color: var(--scrollbar-track); /* Set the color of the track */
            border-radius: 5px; /* Optional: Round the thumb's corners */

        }
        /* Optional: Handle scrollbar when it's in its inactive state */
        &:hover {
            &::-webkit-scrollbar-thumb {
                background-color: var(--scrollbar-thumb-hover); /* Change thumb color on hover */
            }
        }

    }
	
</style>