---
import Main from '@layouts/Main.astro';
import DirectoryComp from '../../../components/DirectoryComp.astro';

const path0 = '../../home.astro';
const path1 = '/classes/financialAccounting/home';
const path2 = '/classes/managerialAccounting/home';
const path3 = '/classes/calc1/home';
const path4 = '/classes/calc2/home';
const path5 = '/classes/micro/home';
const path6 = '/classes/macro/home';
const path7 = '/classes/stats/home';
const blogs = await Astro.glob('./*.md');
---


<Main path0 = {path0} path1 = {path1} path2 = {path2} path3 = {path3} path4 = {path4} path5 = {path5} path6 = {path6} path7 = {path7}>
    <DirectoryComp className = "Calculus II for the Mathematical and Physical Sciences" classCode = '01:640:152' ></DirectoryComp>
    <ol>
        {blogs.map((post) => <li><a href = {post.url}>{post.frontmatter.title}</a></li>)}
    </ol>

</Main>

<style>

    a{
        color:black;
        font-family: var(--primaryFont);
        font-size: large;
        text-decoration: underline;
        text-underline-offset: 2px;
    }
    ol{
        margin:20px;
    }
</style>